body{
    background-color: rgba(62, 62, 62, 0.66);
    color: #636363;
}

a {
    color: #0d3349;
}

a:hover{
    background-color:rgb(2, 255, 0);
}

a.get{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 100;
}
a.get:hover{
    background-color: red;
}

li.js_start{
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    width: 150px;
    display: block;
    padding-left: 10px;
}

div .content{
    width: 70%;
    position: absolute;
    right: 20px;
    top: 0px;
}