body{
    background-color: rgba(62, 62, 62, 0.66);
    color: #636363;
}

a {
    color: #0d3349;
}

a:hover{
    background-color:rgb(2, 255, 0);
	text-decoration: none;
}

a:visited{	
	text-decoration: none;
}

a.get{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 100;
}
a.get:hover{
    background-color: rgb(2, 255, 0);    
}

li.js_start{
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    width: 150px;
    display: block;
    padding-left: 10px;
}

div .content{
    width: 70%;
    position: absolute;
    right: 20px;
    top: 0px;
}

#link{
	float: right;
	margin-right: 100px;
}
#question{
	margin-top: 20px;
	padding: 10px;
	background: #0d3349;
	color: white;
	border-radius: 5px;
}
#answer{
	margin-top: 30px;
	padding: 10px;
	color: #0d3349;
	background-color: white;
	border-radius: 5px;
}

h1{
	color: #0d3349;
	font-wegth: bold;
	font-style: italic;
}