body {
    background-color: rgba(62, 62, 62, 0.66);
    color: #636363;
}

a {
    color: #0d3349;
}

a:hover{
    background-color: rgb(2, 255, 0);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a.next:hover {
    background: rgb(150, 255, 88);
}

a.get {
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 100;
}

a.get:hover {
    background-color: rgb(2, 255, 0);
}

li.js_start {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    width: 170px;
    display: block;
    padding-left: 10px;
}

div .content {
    width: 70%;
    position: absolute;
    right: 20px;
    top: 0px;
}

#link {
    margin-top: 20px;
    margin-right: 100px;
    color: #b7b7b7;
}

p {
    color: rgb(150, 255, 88);
    font-style: italic;
}

textarea#question-answer {
    height: 200px;
}

textarea#question-question {
    height: 100px;
}

#question-link {
    height: 50px;
    background: #6f6d6d;
    color: white;
}

.question {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: #0d3349;
    color: white;
    border-radius: 5px;
}

.question-mouseenter {
    padding: 10px;
    background: #0d3349;
    color: white;
    border-radius: 5px;
    position: absolute;
    font-size: 1.5em;
}

#vis {
    margin-top: 30px;
    width: 25px;
    height: 17px;
    background-size: contain;
}

.vis_close {
    background: url("../images/close.jpg") no-repeat;
}

.vis_open {
    background: url("../images/open.jpg") no-repeat;
}

.answer {
    padding: 10px;
    color: #0d3349;
    background-color: white;
    border-radius: 0 5px 5px 5px;
}

.answer-mouseenter {
    padding: 10px;
    color: #0d3349;
    background-color: white;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    font-size: 1.5em;
}

.procedure {
    margin-top: 30px;
}

.vis_answer {
    display: none;
}

h1 {
    color: #96ff58;
    font-style: italic;
}

a.next {
    font-style: italic;
    font-weight: 900;
    background: #e6ffd0;
    border-radius: 5px;
    padding: 2px;
}

a#add {
    float: right;
    font-weight: 900;
}

form#w0 {
    margin-top: 20px;
}

.control-label {
    color: white;
}

textarea {
    font-size: 2em;
}

textarea#question-question {
    background-color: black;
    color: white;
    font-size: 1.2em;
}

textarea#question-answer, #question-link {
    font-size: 1.2em;
}

#image_procedure {
    display: block;
    margin-top: 20px;
}

#image {
    display: none;
    margin-top: 20px;
}

.archive {
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    margin-right: 5px;
}

.archive:hover{
    cursor: help;
    background-color: rgb(2, 255, 0);
    text-decoration: none;
}
div.question {
    display: none;
}

#close{
    padding-top: 5px;
    padding-right: 10px;
    float: right;
    visibility: hidden;
}

#close:hover{
    cursor: pointer;
}
#close img{
    border-radius: 20px;
}


